<div class="container">
    <h1 class="mt-5 d-flex justify-content-center">{{ productGroupName }}</h1>
    <h3 class="h3">Sản phẩm mới</h3>

    <div class="row my-4">
        <div class="col-md-3 col-sm-6" *ngFor="let productItems of productsData">
            <div class="product-grid6 mb-3">
                <div class="product-image6">
                    <a href="">
                        <img class="pic-1" src="{{ productItems.picture }}">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="">{{ productItems.name }}</a></h3>
                    <div class="price">{{ productItems.price - productItems.discount | number }}đ
                        <span>{{ productItems.discount | number }}đ</span>
                    </div>
                </div>
                <ul class="social">
                    <li>
                        <a href="" data-tip="Thêm vào giỏ hàng"><img height="27px" src="../../assets/supermarket-green.png" alt="cart"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <ul class="pagination">
            <li class="page-item"><a class="page-link" [routerLink]="" [queryParams]="{ id: params.id}" (click)="PreviousBtn()">Quay lại</a></li>
            <li class="page-item active"><a class="page-link">{{ params.page }}</a></li>
            <li class="page-item"><a class="page-link" [routerLink]="" [queryParams]="{ id: params.id}" (click)="NextBtn()">Tiếp theo</a></li>
        </ul>
    </div>
</div>
<hr>