<nav>
  <div id="flex-left">
  <ul>
    <li><h2>Săn hàng</h2></li>
    <li id="search">
      <input type="text" placeholder="Tìm kiếm theo tên sản phẩm">
      <button id="search-btn">
        <i class="fas fa-search"></i>
        <span>Tìm kiếm</span>
      </button>
    </li>
  </ul>
  </div>

  <div id="flex-right">
  <ul>
    <li><i class="fas fa-box-open"></i>Theo dõi đơn hàng</li>
    <li><i class="fas fa-bell"></i>Thông báo</li>
    <li><i class="fas fa-user-cog"></i>Đăng nhập</li>
    <li><i class="fas fa-shopping-bag"></i>Giỏ hàng</li>
  </ul>
  </div>
</nav>
