<nav class="navbar navbar-expand-lg navbar-dark d-flex bd-highlight">
    <div class="mr-auto p-2 bd-highlight">
        <span class="collapse navbar-collapse" id="navbarNavDropdown">
        <a class="navbar-brand ml-5" [routerLink]="['']">Siêu Rẻ</a>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Dánh Sách Sản Phẩm</a>
                    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="navbarDropdownMenuLink" >
                        <li class="dropdown-submenu" *ngFor="let itemBusiness of businessData">
                            <a class="dropdown-item dropdown-toggle" tabindex="-1" href="">{{ itemBusiness.name }}</a>
                            <ul class="dropdown-menu">
                                <li *ngFor="let itemProductGroup of productGroupsData">
                                    <a class="dropdown-item" [routerLink]="['productgroups']" [queryParams]="{ id: itemProductGroup.productGroupId}" *ngIf="itemProductGroup.businessId == itemBusiness.businessId">
                                        {{ itemProductGroup.name }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </span>
    </div>

    <div class="p-2 bd-highlight">
        <form class="form-inline" [formGroup]="searchForm" (ngSubmit)="ngOnSearch()">
            <input class="form-control mr-sm-1" formControlName="searchKeyWord" type="search" placeholder="Tìm sản phẩm" aria-label="Search">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Tìm</button>
        </form>
    </div>
    <div class="bd-highlight nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link" [routerLink]="['/order']">
            <img height="27px" src="../../assets/supermarket.png" alt="cart">
        </a>
    </div>
    <div class="bd-highlight">
        <div class="dropdown show">
            <a class="nav-link p-0" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img height="27px" src="../../assets/user_icon_white.png" alt="user">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" *ngIf="!userData; else logined">
                <a class="dropdown-item" [routerLink]="['login']">Đăng Nhập</a>
                <a class="dropdown-item" [routerLink]="['register']">Đăng Kí</a>
            </div>
            <ng-template #logined>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="">{{ userData.name }}</a>
                    <a class="dropdown-item" href="" (click)="Logout()">Đăng Xuất</a>
                </div>
            </ng-template>
        </div>
    </div>
</nav>