<div id="container" *ngIf="display && businessList && productGroupList; else showBar">
  <div class="icon"><i class="fas fa-arrow-circle-left" (click)="changeDisplay()"></i></div>
  <ul>
    <li *ngFor="let business of businessList">
      <app-business [business]="business" [productGroup]="filterProductGroups(business)"></app-business>
    </li>
  </ul>
</div>

<ng-template #showBar>
  <div class="icon showBar"><i class="fas fa-arrow-circle-right" (click)="changeDisplay()"></i></div>
</ng-template>
