<main class="mt-5 pt-4">
    <h2 class="d-flex justify-content-center">Thông tin sản phẩm</h2>
    <div class="container dark-grey-text mt-5">
        <div class="row wow fadeIn">
            <div class="col-md-6 mb-4">
                <img src="{{ productData.picture }}" class="img-fluid" alt="">
            </div>
            <div class="col-md-6 mb-4">
                <div class="p-4">
                    <h4 class="mb-3">{{ productData.name }}</h4>
                    <div class="mb-3">
                        <a href="">
                            <span class="badge purple mr-1">Nhà cung cấp:</span>{{ productData.brand }}
                        </a>
                    </div>
                    <div class="lead">
                        <p>Giá niêm yết: <del class="text-secondary">{{ productData.price| number }}đ</del></p>
                        <p>Giảm: <span class="text-danger">{{ productData.discount| number }}đ</span></p>
                        <p>Giá bán ra: <span class="text-primary">{{ productData.price - productData.discount| number }}đ</span></p>
                    </div>
                    <p class="lead font-weight-bold">Mô tả</p>
                    <p>{{ productData.description }}</p>
                    <form class="d-flex justify-content-left" (ngSubmit)="onSubmit($event)">
                        <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px" name="amout">
                        <button class="btn btn-primary btn-md my-0 p " type="submit ">Thêm vào giỏ hàng
                    </button>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <div class="row ">
            <div class="col-md-6 ">
                <h4 class="my-4 h4 ">Bình luận sản phẩm</h4>
            </div>
        </div>
    </div>
</main>