<main class="mt-5 pt-4">
  <h2 class="d-flex justify-content-center">Thông tin sản phẩm</h2>
  <div class="container dark-grey-text mt-5">
      <div class="row wow fadeIn">
          <div class="col-md-6 mb-4">
              <img src="{{ productData.picture }}" class="img-fluid" alt="">
          </div>
          <div class="col-md-6 mb-4">
              <div class="p-4">
                  <h4 class="mb-3">{{ productData.name }}</h4>
                  <div class="mb-3">
                      <a href="">
                          <span class="badge purple mr-1">Nhà cung cấp:</span>{{ productData.brand }}
                      </a>
                  </div>
                  <div class="lead">
                      <p>Giá niêm yết: <del class="text-secondary">{{ productData.price| number }}đ</del></p>
                      <p>Giảm: <span class="text-danger">{{ productData.discount| number }}đ</span></p>
                      <p>Giá bán ra: <span class="text-primary">{{ productData.price - productData.discount| number }}đ</span></p>
                  </div>
                  <p class="lead font-weight-bold">Mô tả</p>
                  <p>{{ productData.description }}</p>
                  <form class="d-flex justify-content-left" (ngSubmit)="onSubmit($event)">
                      <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px" name="amout">
                      <button class="btn btn-primary btn-md my-0 p " type="submit ">Thêm vào giỏ hàng
                  </button>
                  </form>
              </div>
          </div>
      </div>
      <hr>
      <div>
        <div class="clearfix">
            <h4 class="my-4 h4 ">Đánh giá sản phẩm</h4>
            <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#evaluteModel">
              Thêm đánh giá
            </button>
        </div>
        <div>
          <div class="clearfix" *ngFor="let evalute of evaluteList">
            <p class="">{{ evalute.numberStar }}</p>

            <span class="fa fa-star checked" *ngIf="evalute.numberStar >= 1"></span>
            <span class="fa fa-star checked" *ngIf="evalute.numberStar >= 2"></span>
            <span class="fa fa-star checked" *ngIf="evalute.numberStar >= 3"></span>
            <span class="fa fa-star checked" *ngIf="evalute.numberStar >= 4"></span>
            <span class="fa fa-star checked" *ngIf="evalute.numberStar >= 5"></span>

            <span class="fa fa-star" *ngIf="evalute.numberStar <= 4"></span>
            <span class="fa fa-star" *ngIf="evalute.numberStar <= 3"></span>
            <span class="fa fa-star" *ngIf="evalute.numberStar <= 2"></span>
            <span class="fa fa-star" *ngIf="evalute.numberStar <= 1"></span>
            <span class="fa fa-star" *ngIf="evalute.numberStar == 0"></span>

            <span class="text-secondary ml-3">{{ evalute.customerId }}</span>
            <hr>
          </div>
        </div>
      </div>
      <!-- Modal -->
    <div class="modal fade" id="evaluteModel" tabindex="-1" role="dialog" aria-labelledby="commentModel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Đánh giá sản phẩm</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="form-group">
              <div>
                <input class="form-control mb-2" placeholder="Nhập số sao" type="number" #evaluteStar />
              </div>
              <div class="clearfix">
                <button
                  type="submit"
                  class="btn btn-primary float-right"
                  data-dismiss="modal"
                  (click)="addEvalute(evaluteStar.value)">Thêm
                </button>
              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div>
        <div class="clearfix my-3">
            <h4 class="my-4 h4 ">Bình luận sản phẩm</h4>
            <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#commentModel">
              Thêm bình luận
            </button>
        </div>
        <div>
          <div class="clearfix" *ngFor="let comment of commentList">
            <p class="">{{ comment.content }}</p>
            <span class="text-secondary ml-3">{{ comment.customerId }}</span>
            <hr>
          </div>
        </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="commentModel" tabindex="-1" role="dialog" aria-labelledby="commentModel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thêm bình luận</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div>
              <textarea placeholder="Nhập bình luận" #content></textarea>
            </div>
            <div class="clearfix">
              <button
                type="submit"
                class="btn btn-primary float-right"
                data-dismiss="modal"
                (click)="addComment(content.value)">Thêm
              </button>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</main>
