<footer class="page-footer font-small blue pt-3">
    <div class="container-fluid text-center text-md-left my-3">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase">Thông tin về Website</h5>
                <p>Website được tạo ra để cung cấp dịch vụ bán hàng online.</p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Thông Tin Tác Giả</h5>
                <ul class="list-unstyled mt-3">
                    <li class="pt-1">
                        <a href="">Tên: Nguyễn Công Quang Minh</a>
                    </li>
                    <li class="pt-1">
                        <a href="">Học Tại: Đại Học Mở TP.HCM</a>
                    </li>
                    <li class="pt-1">
                        <a href="">Email: minhncq99@gmail.com</a>
                    </li>
                    <li class="pt-1">
                        <a href="">Github: minhncq99/MyECommerce</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Công Nghệ Sử Dụng</h5>
                <ul class="list-unstyled mt-3">
                    <li class="pt-1">
                        <a href="">ASP.Net Core</a>
                    </li>
                    <li class="pt-1">
                        <a href="">Angular 8</a>
                    </li>
                    <li class="pt-1">
                        <a href="">SQL Server</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center">© 2020 Copyright:
        <a href="http://minhncqecommerce.somee.com/"> Nguyễn Công Quang Minh</a>
    </div>
    <!-- Copyright -->
</footer>